body {
    font-family: sans-serif;
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

#container{
            border: 2px solid black;
            height: 550px;
            margin-top: 50px;
            border-radius: 40px;
            width: 750px;

}

.guess{
      font-size: 40px;
      color: #92F8CE;
      margin-left: 200px;
      margin-top: 80px;
}

.we{
    font-size: 25px;
    margin-left: 100px;
    color: white;
}

.see{
    font-size: 18px;
    margin-left: 280px;
    color: white;

}

.form{
       font-size: 25px;
}

#guessField{
              height: 30px;
              width: 80px;
              margin-top: 30px;
              margin-left: 320px;
              border-radius: 10px;
}

#submitguess{
      margin-left: 130px;
      margin-top: 20px;
      font-size: 20px;
      border-radius: 20px;
      height: 50px;
      width: 200px;
}

.guessSubmit:hover{
    background: #92F8CE;
                      color: #fff
}

.enter{
         margin-left: 280px;
         color: white;
         font-size: 18px;
}